* {
  box-sizing: border-box;
}

form > div {
  margin: 10px;
}
input {
  font-size: 16px;
  padding: 5px 10px;
  padding-left: 30px;
  /* background-color: red; */
  color: black;
  /* border: 1px solid red; */
  border: none;
  border-bottom: 1px solid red;
  /* border-radius: 15px; */
}
input:focus {
  background-color: white;
  color: red;
  outline: none;
}
#userEmail {
  background-image: url("https://thumbs.dreamstime.com/b/email-envelope-icon-vector-mail-message-symbol-isolated-transparent-background-email-envelope-icon-vector-black-mail-message-126372737.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}
#userName {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR81iX4Mo49Z3oCPSx-GtgiMAkdDop2uVmVvw&s");
  background-repeat: no-repeat;
  background-size: contain;
}

button {
  background-color: pink;
  color: white;
  border-radius: 10px;
  border: none;
}

button:hover {
  background-color: white;
  color: orange;
  border: 1px solid orange;
  cursor: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR81iX4Mo49Z3oCPSx-GtgiMAkdDop2uVmVvw&s");
  box-shadow: 1px 1px 10px rgba(198, 10, 10, 0.2);
}

section {
  background-color: purple;
  height: 100vh;
  text-align: center;
}
.form-container {
  width: 400px;
  margin: auto;
  padding: 20px;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
